body {
                font-family: Arial, Helvetica, sans-serif;
                background-color: #fbfebb;
            }

            h1 {
                color: #562EBD;
                background-color: #f0c381;
                padding:1.5rem;
            }
            p {
                margin: 1.5rem;
            }
            img {
                float: right;
                margin: .65rem;
                border: 2px #ffffff solid;
                max-width: 100%; 
            }

            h2 {
                margin: 1.5rem;
                color: #562EBD;
            }

            h3 {
                margin: 1.5rem;
            }