body {
                font-family: Arial, Helvetica, sans-serif;
                background-color: #fbfebb;
            }

            h1 {
                color: #562EBD;
                background-color: #f0c381;
                padding:1.5rem;
                text-transform: uppercase;
                font-family: "Story Script", static;
                letter-spacing: 0.4rem;
                word-spacing: 0.5em;
            }
            p {
                margin: 1.5rem;
                line-height: 1.8rem;
                font-family: "Courier New", Courier, monospace;

            }
            img {
                float: right;
                margin: .65rem;
                border: 2px #ffffff solid;
                max-width: 100%; 
            }

            h2 {
                margin: 1.5rem;
                color: #562EBD;
            }

            h3 {
                margin: 1.5rem;
            }
            a:link {
                color: purple;
                text-decoration: none;
            }
            a:visited {
                color: palevioletred ;
            }
            a:hover {
                color: rgb(4, 154, 26);
            }
            a:active {
                color: gray;
            }

   
    