header {
    background-color:#450B51;
    color: white;
    margin:0;
    max-height:100vh;
    text-align:center;
    padding: 0.5rem;
    font-size:large;
}
nav {
    background-color: #D0A3DB;
}
nav li {
    list-style-type: none;
    background-color:#D0A3DB;
;
    margin:0.25rem;
    font-size: 18px;
    padding:1rem;
}
nav a {
    text-decoration: none;
    color: #450B51;
    padding:1rem;
}

nav a:hover {
    color: black;
}

nav ul {
    display: flex;
    justify-content: center;
    background-color:#D0A3DB;
    padding: 25px;
    margin:0;
    flex-wrap:wrap;
}
ul li ul {
    display:none;
    position:absolute;
    background-color:#D0A3DB;
}
ul li:hover>ul,
ul li:focus-within>ul,
ul li ul:hover, 
ul li ul:focus {
    visibility:visible;
    opacity:1;
    display:block;
    border:2px solid #D0A3DB;
}
html, body {
    margin: 0;
    height: 100%;
}
body {
    max-width: 100rem;
    margin:0;
    /*background-color:beige;*/

    display:flex;
    flex-direction: column;
}
main {
    flex: 1;
}
footer {
    padding:1rem;
    background-color: #D0A3DB;
    text-align:center;
    color:black;
}


/*homepage code*/
.home-content img {
    float:left;
    padding:3rem;
    margin-left: 7rem;
}
.home-content h2 {
    padding-top:3rem;
    font-size:40px;
}
.home-content p {
    max-width:75rem;
    margin-left: 7rem;
    font-size:30px;
}




/*biography page code*/
.bio-content {
    display:grid;
    grid-template-columns: 1fr 1fr;
    /*border:2px solid orange;*/
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.bio-content p{
    grid-column: 2/3;
    margin: 4rem;
    margin-right: 6rem;
    line-height: 1.75rem;
}
.bio-content img {
    grid-row:2/3;
    grid-column:2/3;
    display:block;
    margin:auto;
    width:50%;  
    border:0.5px solid black;
}
.bio-content2 {
    display:grid;
    grid-template-columns: 1fr 1fr;
    /*border:2px solid red;*/
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.bio-content2 p{
    grid-column:1/2;
    grid-row:1/2;
    margin: 4rem;
    margin-left: 6rem;
    text-align: justify;
    line-height: 1.75rem;
}
.bio-content2 img {
    grid-row:1/2;
    grid-column:2/3;
    display:block;
    margin:auto;
    width:50%; 
    border:0.5px solid black; 
}

